html{
    height: 100%;
  }
  body {
    min-height: 100%;
  }
body {
    padding-top: 70px;
    background: #2d9ee0
}


th {
    background-color: #f2af58;
    text-align: center;
    font-size: 20px;
    color: #fff;
    width: 12%;
}
.img-responsive.img-rounded{
    width: 30px;
    height: 30px;
}

header {
    font-size: 1.5em;
    text-transform: uppercase;
}
.event-item {
    display: block;
    text-align: right;
    font-size: 20px;
    color: #2d9ee0;
}
.event-item:hover {
    text-decoration: none;
}
.day-events {
    min-height: 50px;
    overflow: hidden;
}
.event-item {
    display: block;
    margin: 10px 5px;
}
table{
    background-color: #ffffff;
    margin-top: 15px;
    
    
}
.table-container header{
    color:#fff;
    font-size: 40px;
}
.all-buttons{
    margin-top: 30px;
    overflow:hidden;
}
.all-buttons button, .all-buttons button:focus,.all-buttons button:hover,.all-buttons button:active{
    border:0;
    padding: 10px 15px;
    color:#2d9ee0;
    background: #fff;
    margin-right: 5px;
    font-size:15px;
}

footer img {
 width: 300px;
}
footer{
    margin-top: 10px;
}
td{
    font-size: 20px;
}

td.daily-event:hover,
td.event-item:hover,
td.day-in-month {
    cursor: pointer;
}
